<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Сброс пароля</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center">Сброс пароля</h1>
                </div>
                <div class="card-body">
                    <form th:action="@{/user/savePassword}" method="post">
                        <div class="form-group">
                            <label for="password">Новый пароль</label>
                            <input type="password" 
                                   class="form-control" 
                                   id="password" 
                                   name="newPassword" 
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Подтвердите пароль</label>
                            <input type="password" 
                                   class="form-control" 
                                   id="confirmPassword" 
                                   name="confirmPassword" 
                                   required>

                        </div>
                        <input type="hidden" name="token" th:value="${token}">
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Сохранить новый пароль</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>